<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/add_question.css" />
    <title>Add a New Question</title>
  </head>
  <body>
    <h1>Add a New Question</h1>

    <form method="POST">
      <div class="question">
        <label for="question">Question</label>
        <input type="text" name="question" required />
      </div>

      <div class="answer">
        <label for="answer">Answer</label>
        <input type="text" name="answer" required />
      </div>

      <input type="submit" value="Create Question" />
    </form>
  </body>
</html>
